.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .slide {
    max-width: toRem(750px);
    max-height: toRem(563px);
    margin: 0 auto;
  }
  .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: $secondary-color;
    font-size: toRem(36px);
    &--left {
      left: 5%;
    }
    &--right {
      right: 5%;
    }
  }
  .dots {
    bottom: toRem(10px);
    left: 50%;
    transform: translateX(-50%);

    .dot {
      width: toRem(12px);
      height: toRem(12px);
      border-radius: 50%;
      background-color: #000;
      opacity: 0.5;
      margin: 0 toRem(5px);
      cursor: pointer;

      &.active {
        background-color: $secondary-color;
        opacity: 1;
      }
    }
  }
}
