.about-me {
  &__icon-skills {
    display: none;
  }
  &__text {
    width: 50%;
    &__virtues {
      display: flex;
    }
  }
  &__img {
    width: 50%;
  }
}

.frontend {
  &__icon-puzzle {
    bottom: -44px;
    right: 11%;
    z-index: 1;
  }
}

.hobby {
  .icon-book {
    top: 5px;
    right: -40%;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .icon-nature {
    top: 5px;
    right: -60%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .icon-succulent {
    top: 5px;
    right: -80%;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .about-me__text {
    padding-right: 5%;
  }
}

@media (max-width: 1024px) {
  .about-me {
    flex-direction: column;
    &__icon-skills {
      display: block;
      position: absolute;
      right: 17%;
      top: 200px;
    }
    &__text {
      width: 100%;
      padding-right: 0;
      padding-bottom: 70px;
    }
    &__img {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 800px) {
  .about-me__icon-skills {
    display: none;
  }
}

