.about {
  &__skills {
    &__text,
    &__img {
      width: 50%;
    }

    &__img.hardSkillsImage {
      position: relative;
      height: 100vh;
          display: flex;
    align-items: center;
    justify-content: center;
      &::before {
        content: "";
        background: url("https://images.unsplash.com/photo-1563206767-5b18f218e8de")
          no-repeat center center/cover;
        position: absolute;
         opacity: 0.5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .code-gif {
        position: relative;
        z-index: 2;
      }
    }

    @media (max-width: toRem(1024px)) {
      flex-direction: column;
      &__text {
        width: 100%;
        padding-right: 0;
        padding-bottom: toRem(70px);
      }
      &__img {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    @media (max-width: toRem(425px)) {
      &__text__virtues {
        flex-direction: column;
      }
    }
  }

  &__hobby {
    &__wrap {
      max-width: toRem(550px);
      .icon-book,
      .icon-nature,
      .icon-succulent {
        top: toRem(5px);
        @media (max-width: toRem(1205px)) {
          display: none;
        }
      }
      .icon-book {
        right: -45%;
      }
      .icon-nature {
        right: -65%;
      }
      .icon-succulent {
        right: -85%;
      }
    }
  }

  .frontend {
    &__icon-puzzle {
      bottom: toRem(-44px);
      right: 11%;
      z-index: 1;
    }
  }

  .knowledge {
    &__icon-html {
      z-index: 1;
      bottom: toRem(22px);
      left: 17%;
    }
    &__text {
      width: 50%;
    }
    &__image {
      width: 50%;
    }
    @media (max-width: toRem(1024px)) {
      flex-direction: column;
      &__icon-html {
        bottom: toRem(-5px);
      }
      &__text {
        width: 100%;
        padding-bottom: toRem(70px);
      }
      &__image {
        width: 100%;
      }
    }
    @media (max-width: toRem(425px)) {
      &__text__items {
        flex-direction: column;
      }
    }
  }

  .learning {
    &__icon-brain {
      bottom: 0px;
      right: 17%;
    }
    &__text {
      max-width: toRem(552px);
    }
  }

  @media (max-width: toRem(1024px)) {
    .knowledge__text {
      padding-right: 0;
    }
    .w-rsp {
      width: 1000px;
    }
  }
}
