.home {
  &__greeting {
    /* Fallback for older browsers */
    min-height: calc(100vh - toRem(104px));
    /* Modern browsers supporting dvh */
    min-height: calc(100dvh - toRem(104px));

    &__picture {
      width: 50%;
      background: radial-gradient(
          circle at bottom left,
          $secondary-color 35%,
          transparent 36%
        ),
        radial-gradient(
          circle at top right,
          $secondary-color 35%,
          transparent 36%
        );
      background-size: 6em 6em;
      background-color: $primary-color;
      margin-left: 5%;

      &__girl {
        max-height: 100%;
        border-radius: 50%;
        border: 10px solid $secondary-color;
        margin: toRem(40px);
      }
    }

    &__text {
      color: $secondary-color;
      width: 50%;
    }

    @media (max-width: toRem(1024px)) {
      flex-direction: column-reverse;

      &__picture,
      &__text {
        width: 100%;
        height: auto;
      }

      &__picture {
        margin-left: 0;
        padding: 20px 5%;

        &__girl {
          height: 40vh;
        }
      }
    }

    @media (max-width: toRem(382px)) {
      &__picture__girl {
        border: unset;
      }
    }
  }

  &__introduction {
    min-height: calc(100vh - (toRem(104px) + toRem(80px)));

    &__laptop-icon {
      bottom: 80px;
      right: 10%;
      rotate: 4deg;
    }

    &__ecology-icon {
      top: 80px;
      left: 10%;
      rotate: 346deg;
    }

    @media (max-width: toRem(768px)) {
      &__laptop-icon {
        bottom: 20px;
      }

      &__ecology-icon {
        top: 20px;
      }
    }

    @media (max-width: toRem(375px)) {
      &__ecology-icon {
        display: none;
      }
    }

    @media (max-height: 740px) {
      &__laptop-icon {
        bottom: 0px;
      }
    }
  }
}
