.home {
  min-height: 100vh;
  height: 100%;
  overflow-y: hidden;
  &__picture {
    width: 50%;
    padding-top: toRem(30px);
    &__me {
      max-height: 70vh;
    }
    &__ecology {
      top: toRem(18px);
      left: 19%;
      display: block;
    }
    &__work {
      right: 7%;
      top: toRem(257px);
    }
    &__pet {
      bottom: toRem(42px);
      left: 14%;
    }
  }
  &__text {
    color: $secondary-color;
    width: 50%;
  }

  @media (max-width: toRem(1600px)) {
    &__picture__ecology {
      left: 16%;
    }
    &__picture__pet {
      left: 6%;
    }
    &__picture__work {
      right: -3%;
    }
  }
  @media (max-width: toRem(1460px)) {
    &__text {
      padding-left: 5%;
    }
  }
  @media (max-width: toRem(1024px)) {
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-top: toRem(80px);
    padding-bottom: toRem(80px);
    &__picture {
      padding-top: 0;
      width: 65%;
      &__me {
      max-height: 50vh;
    }
      &__ecology {
        left: 2%;
      }
      &__pet {
        left: 0;
      }
    }
    &__text {
      padding-top: toRem(40px);
      width: 100%;
      padding-left: 0;
    }
  }
  @media (max-width: toRem(768px)) {
    &__picture {
      width: 80%;
    }
    &__picture__work {
      right: -8%;
      top: toRem(200px);
    }
  }
  @media (max-width: toRem(500px)) {
    &__picture {
      width: 100%;
      &__ecology {
        display: none;
      }
      &__pet {
        display: none;
      }
      &__work {
        right: -1%;
        top: 0;
      }
    }
  }
}
