.not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
  place-content: center;
  text-align: center;
  padding-left: toRem(24px);
  padding-right: toRem(24px);

  img {
    width: 200px;
    margin: 0 auto toRem(26px);
  }
}
