.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: toRem(24px);
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid $secondary-color;
    width: 100%;
    max-width: toRem(380px);
    height: toRem(400px);
    padding: toRem(16px);
    a {
      align-self: center;
    }
    .ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* start showing ellipsis when 2nd line is reached */
      white-space: pre-wrap; /* let the text wrap preserving spaces */
      &--3 {
        -webkit-line-clamp: 3;
      }
    }
  }
}
