.projects {
  padding-top: toRem(54px);

  &__cards {
    display: grid;
    gap: toRem(24px);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300px), 1fr));
    width: 100%;

    @media (max-width: toRem(370px)) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(150px), 1fr));
    }
  }
}
