.circle {
  // bottom - right
  position: absolute;
  background: $linear-gradient;
  width: toRem(250px);
  height: toRem(250px);
  border-radius: 100% 0 0 0;
  bottom: 0;
  right: 0;
  &--bottom-left {
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 0 100% 0 0;
  }
  &--top-left {
    top: 0;
    left: 0;
    width: toRem(150px);
    height: toRem(150px);
    border-radius: 0 0 100% 0;
    z-index: 500;
  }
  &--semicircle-left {
    width: toRem(280px);
    height: toRem(140px);
    left: 12%;
    border-radius: 150px 150px 0 0;
  }
  &--top-right {
    top: 0;
    width: toRem(100px);
    height: toRem(100px);
    border-radius: 0 0 0 100%;
  }
  &--semicircle-right {
    width: 200px;
    height: 100px;
    border-radius: 0 0 110px 110px;
    top: 0;
    right: 8%;
  }
  @media (max-width: toRem(1024px)) {
    width: toRem(150px);
    height: toRem(150px);
    &--top-left {
      width: toRem(100px);
      height: toRem(100px);
      &--small {
        width: toRem(80px);
        height: toRem(80px);
      }
    }
    &--semicircle-left {
      width: toRem(160px);
      height: toRem(80px);
      border-radius: 80px 80px 0 0;
    }
    &--semicircle-right {
      width: toRem(200px);
      height: toRem(100px);
    }
  }
}
