* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $primary-color;
  font-size: ms(0);
  line-height: 1.7;
  overflow-x: hidden;
  // Improve text rendering
  -webkit-font-smoothing: antialiased;
  &.menu-open {
    @media (max-width: toRem(1024px)) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3 {
  font-family: "Arima Madurai", sans-serif;
}

p,
li {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-contain {
  object-fit: contain;
}

.png-w {
  width: toRem(80px);
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.text-center {
  text-align: center;
}

.error {
  display: flex;
  flex-direction: column;
  height: 100vh;
  place-content: center;
  text-align: center;
  padding-left: toRem(24px);
  padding-right: toRem(24px);

  img {
    width: toRem(200px);
    margin: 0 auto toRem(26px);
  }
}

.underline {
  position: relative;
  padding-bottom: 1px;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0px;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: $secondary-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
  &--primary-clr {
    &:after {
      background: $primary-color;
    }
  }
}
