@import 'fontscale';
@import 'colors';
@import 'functions';
@import 'utils.spacing';
@import 'underline-hover';
@import 'utils.text';

@import './pages/Home';
@import './pages/About';
@import './pages/NotFound';
@import './pages/Project';

@import './components/Header';
@import './components/Slider';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
  -webkit-tap-highlight-color: transparent;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $primary-color;
  font-size: ms(0);
  line-height: 1.7;
  overflow-x: hidden;
  // Improve text rendering
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, a {
 font-family: 'Arima Madurai', sans-serif;
}

p, li {
 font-family: 'Roboto', sans-serif; 
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea, select {
  font: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-contain {
  object-fit: contain;
}

// utilities
.border-img {
  border-radius: 40%;
}

.png-w {
  width: toRem(80px);
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.section {
  position: relative;
  &--first {
    margin-top: toRem(40px);
    @media (max-width: toRem(1024px)) {
      margin-top: 0;
    }
  }
}


